<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/assets/css/style.css" media="screen" title="no title" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body style="background-color: black">
      <div class="container-fluid">
        <div class="main-menu card middle">
          <div class="content">
            <h1>Pernik 2015</h1>
            <small>@kamusft</small>
            <div class="logo">
              <img src="/assets/images/logo-128.png" alt="" />
            </div>
            <div class="down-arrow">
              <div class="btn-group">
                <button id="adzan-btn" data-page-menu=".adzan" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Adzan"><i class="glyphicon glyphicon-bell"></i></button>
                <button id="menu-btn" data-page-menu=".menu" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="About Pernik"><i class="glyphicon glyphicon-fire"></i></button>
                <button id="news-btn" data-page-menu=".news" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="News"><i class="glyphicon glyphicon-globe"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="adzan card middle" style="display:none;">
          <div class="content">
            <div class="adzan-list"></div>
            <div class="bottom">
              <button class="back-btn btn btn-default" data-toggle="tooltip" data-placement="top" title="Back"><i class="glyphicon glyphicon-chevron-down"></i></button>
            </div>
          </div>
        </div>
        <div class="news card middle" style="display:none;">
          <div class="content">
            <h1>News</h1>
            <div class="bottom">
              <button class="back-btn btn btn-default" data-toggle="tooltip" data-placement="top" title="Back"><i class="glyphicon glyphicon-chevron-down"></i></button>
            </div>
          </div>
        </div>
        <div class="menu card middle" style="display:none; align-items: none;">
          <div class="content">
            <div id="page-1" class="card middle">
              <div class="content">
                <h2>Apa itu Pernik?</h2>
              </div>
            </div>
            <div id="page-2" class="card middle" style="background-color: red; display:none">
              <div class="content">
                <h2>Pernik adalah akronim dari Pekan Religi Teknik. Acara tahunan dari UKMF Keluarga Muslim Fakultas Teknik atau biasa dikenal Kamus FT</h2>
              </div>
            </div>
            <div id="page-3" class="card middle" style="background-color: green; display:none">
              <div class="content">
                <h2>Apa itu Pernik?</h2>
              </div>
            </div>

            <div class="nav-right">
              <i id="menu-previous-btn" class="glyphicon glyphicon-chevron-up" style="cursor: pointer" data-toggle="tooltip" data-placement="left" title="previous"></i><br>
              <i id="menu-next-btn" class="glyphicon glyphicon-chevron-down" style="cursor: pointer" data-toggle="tooltip" data-placement="left" title="next"></i><br>
            </div>
            <div class="nav-left">
              <i class="glyphicon glyphicon-unchecked active"></i><br>
              <i class="glyphicon glyphicon-unchecked"></i><br>
              <i class="glyphicon glyphicon-unchecked"></i><br>
              <i class="glyphicon glyphicon-unchecked"></i><br>
            </div>
            <div class="bottom">
              <button class="back-btn btn btn-default" data-toggle="tooltip" data-placement="top" title="Back"><i class="glyphicon glyphicon-chevron-down"></i></button>
            </div>
          </div>
        </div>
      </div>
      <script src="/assets/js/jquery.min.js"></script>
      <script src="/assets/js/load.js"></script>
      <script src="/assets/js/bootstrap.min.js"></script>
      <script src="/assets/js/menu.js"></script>
      <script src="/assets/js/adzan-list.js"></script>
  </body>
</html>
