<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/assets/css/style.css" media="screen" title="no title" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
      <div class="container-fluid">
        <div class="frame">
          <div class="content">
            <h1>Pernik 2015</h1>
            <small>@kamusft</small>
          </div>
        </div>
      </div>
      <script src="/assets/js/jquery.min.js"></script>
      <script src="/assets/js/load.js"></script>
      <script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>
