p.count-down{
  font-size: 20pt;
  text-align: center;
}

.down-arrow{
  opacity: 0;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
}

.logo{
  opacity: 0;
}

.card{
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.inactive{
  
}

.main-menu{
    background-color: rgb(55, 50, 93);
    color: white;
}

.adzan{
  background-color: rgb(200, 80, 80);
  color: white;
}

.card .content{
    width: 100%;
    text-align: center;
}
